<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form</title>
</head>
<body>

<h1>Authentication Form</h1> <br>

<h4> This form provides functionalities of basic signing in and signing up of users. </h4>

<a href="/app">
    <button>Launch App</button>
</a>

<h6> Created by Parikshit Barua </h6>
<a href="https://twitter.com/parikshit_barua"> Twitter </a> <br>
<a href="https://www.linkedin.com/in/parikshitbarua04/"> LinkedIn </a>



</body>
</html>