<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../client/sign-in.js" type="text/javascript" defer></script>
    <title>Login</title>
</head>
<body>

<form id="login-form">
    <label for="email"></label><input id="email" placeholder="test@gmail.com" type="email" name="email_address" required> <br>
    <label for="password"></label><input id="password" type="password" placeholder="password" name="password" required> <br>
    <button id="login-button" type="button" value="Login"> Login </button> <br>
    <a href="/app/signup">
        New to Vansh? Sign up here
    </a>
</form>

</body>
</html>