<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../client/sign-up.js" type="text/javascript" defer></script>
    <title>Sign Up</title>
</head>
<body>

<form id="sign-up-form">
    <label for="firstName"></label> <input id="firstName" placeholder="First Name" name="firstName" required> <br>
    <label for="lastName"></label> <input id="lastName" placeholder="Last Name" name="lastName" required> <br>
    <label for="email"></label><input id="email" placeholder="test@gmail.com" type="email" name="emailAddress" required> <br>
    <label for="password"></label><input id="password" type="password" placeholder="password" name="password" required> <br>
    <button id="sign-up-button" type="button" value="Sign Up"> Sign Up </button> <br>
</form>

<div>
    <label for="message"></label><p id="message"> </p>
</div>

</body>
</html>